* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
#logo img {
    margin-left: 20px;
    height: 40px;
}

#navbar {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9E9EA0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    background-color: #12122E;
    text-decoration: none;
    transition: .5s;
    font-weight: bold;
    color: #fff;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid #12122E;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.247);
}

#navbar ul li a:hover {
    background-color: white;;
    color: #12122E;
}

.container {
    padding: 2em;
}

.container h1 {
    margin-bottom: 1em;
}

.container form {
    max-width: 300px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    color: #12122E;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input {
    margin-right: 10px;
}

.form-control input,
.form-control textarea {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"],
.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    background-color: #fff;
    color: #12122E;
    padding: 6px 10px;
    transition: .5s;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #12122E;
    cursor: pointer;
    text-decoration: none;
}

form input[type="submit"]:hover,
.btn:hover {
    background-color: #12122E;
    color: #fff;
}

.btn-container form input {
    border: 2px solid red;
    color: red;
}

.btn-container form input:hover {
    background-color: red;
    color: #fff;
}

.products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    width: 23%;
    margin: 1%;
    text-align: center;
    margin-bottom: 1em;
}

.product img {
    max-width: 100%;
    margin-bottom: 0.5em;
}

.product h3 {
    margin-bottom: 1em;
}

.product .btn {
    margin-top: .5em;
    max-width: 50%;
    min-width: 90px;
}

.actions {
    margin: 1em;
}

.product-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    max-width: 50%;
    min-width: 400px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.product-page img {
    max-width: 250px;
    margin-bottom: 1em;
}

.product-page p {
    margin-bottom: 1em;
}

.product-page .price {
    font-size: 1.5em;
}

.product-page h1 {
    margin-top: 2em;
}

.product-page .btn {
    margin-bottom: 1em;
}

.product-manage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-width: 900px;
    margin-left: -40px;
}

.product-manage-container .product-manage-info {
    display: flex;
    padding: 20px;
    background-color: #9E9EA0;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 90%;
}

.product-manage-info .product-info,
.product-manage .product-manage-data {
    display: flex;
    min-width: 100%;
}

.product-manage-info .product-info p,
.product-manage .product-manage-data p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    min-width: 25%;
}

.product-manage-container .product-manage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin-top: 15px;
    font-weight: bold;
    width: 90%;
}

.product-manage-data {
    display: flex;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    gap: 10px;
}

