* {
    font-family: Helvetica;
    margin: 0;
}

#navbar {
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
    margin-top: 1em;
}

#navbar ul {
    display: flex;
    list-style: none;
    margin: 15px 5px;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    background-color: blue;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

.form {
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .3em;
}

.form-checkbox {
    flex-direction: row;
}

.form-control input {
    margin-right: 10px;
}

.form-control input {
    padding: 5px;
}


.bold, a, .bnt-send {
    font-weight: bold;
}

a, .bnt-send, .delete-btn {
    text-decoration: none;
    color: #fff;
    background-color: forestgreen;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

a:hover {
    background-color: #1a691a;
}

.delete-btn {
    background-color: red;
    font-weight: bold;
}

.delete-btn:hover {
    background-color: #b80101;
}

.bnt-container {
    display: flex;
    justify-content: center;
}

.edit-btn {
    background-color: blue;
}

.actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.actions a {
    margin-right: 1em;
}

/* USERS */

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
}

.container .item {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 20px;
    flex: 1 1 29%;
    max-width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.item h2,
.item p {
    margin-bottom: .2em;
}

.actions {
    display: flex;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-container {
    border: 2px solid #ccc;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ADDRESS */

.address-container {
    max-width: 1000px;
    margin: 1em auto;
    padding-top: 1em;
    padding-bottom: 200px;
    border-top: 1px solid #ccc;
}

.address-container h2 {
    margin-bottom: 1em;
}

.address-container form {
    width: 300px;
}

.address-list {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
}