<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <a href="/" class="logo">LOJA</a>
        <nav>
            <a href="#">Ofetas do dia</a>
            <a href="#">Eletronicos</a>
            <a href="#">Eletrodomésticos</a>
            <a href="#">Celulares</a>
            <a href="#">Móveis</a>
            <a href="#">Fale conosco</a>
        </nav>
    </header>
    {{{body}}}
    <footer>
        <p>&reg; Loja - Todos os direitos reservados</p>
    </footer> 
</body>
</html>